html {
    font-family: century;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 246, 228);
}

html {
    scroll-behavior: smooth;
}

.pagetop {
    height: 50px;
    width: 50px;
    position: fixed;
    right: 30px;
    bottom: 30px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    box-shadow: 0 4px 6px rgb(0 0 0 / 30%);
}

@media (hover: hover) and (pointer: fine) {

    .pagetop:hover,
    .pagetop:hover .pagetop__arrow {
        border-color: #B40533;
    }
}

.main {
    margin: 20px;
}

header {
    background: #7cdce9;
    display: flex;
    align-items: center;
    height: 80px;
    overflow: hidden;
}

header h2 {
    color: #B40533;
    padding-left: 20px;
}

#header-name {
    text-decoration: none;
    color: #B40533;
}

header a:visited {
    color: #B40533;
}

header p {
    margin-left: auto;
    cursor: pointer;
    line-height: 46px;
    padding-right: 20px;
    z-index: 150;
}

header img {
    display: block;
}

.introback {
    margin: 0;
    /* 親のmarginを打ち消す */
    width: 100%;
    box-sizing: border-box;
    position: relative;
    padding: 50px 20px;
    text-align: center;
    overflow: hidden;
}

.introback::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('background.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
}

.navi {
    background: #7cdce9;
    color: black;
    position: fixed;
    overflow: hidden;
    top: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    width: 0;
    transition: 0.2s;
    z-index: 100;
}

.open-menu {
    width: 20%;
}

nav ul {
    padding: 50px 20px;
}

nav li {
    list-style: none;
    text-align: left;
    padding: 10px 0;
}

nav li a {
    display: block;
    color: #B40533;
}

nav a:hover {
    color: black;
}

.menu-background {
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    width: 0;
    height: 0;
    background: black;
    opacity: 0.8;
}

.open {
    width: 100%;
    height: 100%;
}

main {
    background: orange;
}

side {
    background: pink;
    display: block;
}

#quote {
    text-align: right;
    font-size: small;
}



.table-text {
    font-weight: 440;
}

.footer {
    background: #7cdce9;
    padding: 20px;
}

.footer-top {
    text-align: center;
    /* 真ん中に表示 */
    margin-bottom: 20px;
    /* 下の2列との余白 */
    font-weight: bold;
    color: #B40533;
}

.footer-bottom {
    display: flex;
    margin-left: 20%;
    gap: 60px;
    /* 左右の間隔 */
}

#youkoso {
    font-size: 30px;
}

#access {
    margin-left: 10%;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}


.news {
    padding: 50px 0;
    background: #7cdce960;
}

/* ここからがニュース記事のCSS */

.news_list {
    margin: 0 5%;
}

.news_list_item {
    padding: 25px 0;
    border-bottom: 1px solid #7cdce9;
}

.news_list_item:first-child {
    border-top: 1px solid #7cdce9;
}

.news_list_item a {
    color: black;
    text-decoration: none;
    position: relative;
    display: flex;
    padding-right: 30px;
}

.news_list_date {
    font-size: 15px;
    display: flex;
    margin-right: 15px;
    align-items: center;
}

.newsnavi a {
    color: black;
}

.newsnavi a:hover {
    color: #B40533;
}

.img-radius {
    padding: 0 !important;
}

.img-radius img {
    border-radius: 15px;
}

/*目次*/
.table_of_contents {
    width: 300px;
    margin: 0 auto;
    border-radius: 3px;
    background-color: rgb(255, 246, 228);
}

.table_of_contents div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 10px 0;
    background-color: #7cdce9;
    color: #B40533;
    font-weight: 600;
    font-size: 1.1em;
}

.table_of_contents li {
    padding: 5px 0;
    font-weight: 600;
}

.table_of_contents a {
    color: #000000;
}

.table_of_contents a:hover {
    color: #B40533;
}



.tableArea {
    display: table;
    width: 100%;
}

.table_left {
    display: table-cell;
    text-align: left;
}

.table_right {
    display: table-cell;
    text-align: right;
}


@media screen and (max-width: 1024px) {
    .news_list_item a {
        display: block;
    }
}

@media screen and (max-width: 769px) {
    .news_list_item a {
        font-size: 14px;
    }


}

@media screen and (max-width: 480px) {
    .arrow {
        display: none;
    }

    .news_list_item a {
        padding-right: 0;
    }
}

.news_list_item:hover {
    opacity: 0.5;
    /* ホバーした時に記事タイトルを透過 */
}
